<!-- 全体 -->
<div id="wrap" class="background_color">
  
  <!-- top -->
  <div>
    <h1>トップ見出しタイトル</h1>
  </div>
  <!-- top -->
  
  <!-- header -->
  <header id="header">
    <nav>
      <h1>
        <a href="＊">
          <!-- ヘッダーイメージ画像入ります -->
          <img src="#" alt="**emuイメージ画像名">
        </a>
      </h1>

      <!-- ハンバーガメニュー開始 -->
      <!-- ハンバーガメニュー見た目 -->
      <div class="spmenu">
        <img src="" alt="">
      </div>
      <!-- ハンバーガメニュー中身 -->
      <div>
        <div>
          <ul>
            <!-- ハンバーガ内のカラム数が不明のため調整してください -->
            <li>カラム１</li>
            <li>カラム２</li>
            <li>カラム３</li>
            <li>カラム４</li>
          </ul>
        </div>
      </div>
      <!-- ハンバーガメニュー終了 -->

      <!-- カルーセル部分（コードを書く人に構造まかせます） -->
      <div>
        カルーセル部分
      </div>
      <!-- カルーセル部分終了 -->
    </nav>
  </header>
  <!-- header終了 -->

  <!-- style部分 -->
  <div class="base_page" id="style">
    <div class="category_title">
      <h2>*STYLE</h2>
    </div>
    <!-- スタイルイメージ画像の親要素 -->
    <div>
      <!-- ↓↓↓各スタイルイメージの枠テンプレ構造。必要数に応じて増減させてください -->
      <div>
        <a href="*">
          <img src="#" alt="*各スタイル画像の名称">
        </a>
      </div>
      <!-- ↑↑↑各スタイルイメージの枠テンプレ構造。必要数に応じて増減させてください -->
    </div>
  </div>
  <!-- スタイル部分終了 -->
  
  <!-- contents部分 -->
  <div class="page_base" id="contents">
    <div class="container">
      <div class="category_title">
        <h2>*CONTENTS</h2>
      </div>
      <!-- ↓↓↓コンテンツ挿入部分） -->
      <div>
        コンテンツ部分（画像、日付、タイトル）
      </div>
    </div>
  </div>
  <!-- contents部分終了 -->


  <!-- information部分 -->
  <div class="page_base" id="contens">
    <div class="container">
      <div class="category_title">
        <h2>*INFORMATION</h2>
      </div>
      <!-- ２カラム表示用の大枠の親要素 -->
      <div>
        <!-- 理容室 イメージカラム -->
        <div>
          <!-- 必要数に応じて画像数は増減させてください -->
          <img src="#" alt="＊理容室イメージ画像">
        </div>
        <!-- 理容室 情報カラム -->
        <div>
          <!-- 参考サイトをテンプレにして作成。必要に応じて数を変えてください -->
          <h3 class="concept_title">###コンセプトタイトル###</h3>
          <p class="concept_p">###コンセプトパラグラフ###</p>
          <h3 class="concept_title">###その他タイトル###</h3>
          <p class="concept_p">###その他パラグラフ###</p>
        </div>
      </div>
      <!-- GoogleMap挿入部分 -->
      <div>
        GoogleMap挿入部分
      </div>
    </div>
  </div>
  <!-- information部分終了 -->


  <!-- footer部分 -->
  <footer id="footer">
    <!-- 参考サイトの場合を記述しておきます -->
    <p>
      <a href="#">
        <img src="#" alt="ロゴ">
      </a>
    </p>
    <ul>
      <li>プライバシーポリシー</li>
      <li>サイトマップ</li>
    </ul>
    <h4>コピーライト</h4>
  </footer>


  <!-- 右下電話予約欄の固定 -->
  <div>
    <p>
      <a href="tel">
        <img src="#" alt="**ご予約はこちらイメージ画像名">
      </a>
    </p>
  </div>
  <!-- 右下電話予約欄の固定 -->

</div>
