*{
  margin: 0px 0px;
  box-sizing:border-box;
  background-color: whitesmoke;
}
.body{
  width: 100%;
  background-color: cornflowerblue;
}
.wrap{
  margin-top: 10px;
}

.container{
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: darkgreen;
  display: flex;
  flex-wrap: wrap;
}
.container:before {
  content: "";
  display: block;
  padding-top: calc(100%/19);
}
.container:after {
  content: "";
  display: block;
  padding-bottom: calc(100%/19);
}

.container > div{
  width: calc(100%/19);
  height: auto;
  border: 1px solid black;
}

.a{
  background-color: darkmagenta;
}
.b{
  background-color: darksalmon;
  text-align: center;
}
.c{
  background-color: darkturquoise;
}
.d{
  background-color: darkgray;
  position: relative;
}

.e{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(200% + 2px);
  background-color: darkkhaki;
}

.letter{
  height: 100%;
  line-height: 100%;
  font-size: 4vw;
  padding-top: 10%;
}
